/* css file for PBIS site */
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Oxygen:wght@300&family=PT+Serif&family=Special+Elite&family=Squada+One&display=swap');
html {
  scroll-behavior: smooth;
}
.largelogo{
  height:auto;
  max-width:370px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
.largelogo {
    max-width: 200px;
  }
}
ul {
  list-style-type: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul.starr {
  font-size: 32px;
  font-family: 'Special Elite';
}
#li-left {
  margin-left: 25%;
}
.smalllogo {
  display: none;
}
   .center{
  align="center"
  }
  .carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.maxheight {
  max-height: 400px;
  width: 300px;
}

.carousel-indicators{
  filter:invert;

}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 20px;

}
.left {
  margin-left: 25%;
}
.margin {
  margin-bottom: 15px;
}
.arimo {
  font-family: Arimo;
}
.oxygen {
  font-family:oxygen;
}
.pt-serif {
  font-family: PT Serif;
}
.special-elite {
  font-family: Special Elite;
}
.squada-one{
  font-family: Squada One;
}
.pad-top {
  margin-top: 10px;
}
.center-allign{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.bg-cce7ff {
  background-color:#cce7ff;
}
h1.header
{
  font-family: 'Special Elite', cursive;
  font-size: 175px;
}

h2.faq
{
  font-family: 'Oxygen', sans-serif;
  font-family: 'Special Elite', cursive;
  color: #E56227;
  font-size:70px;
}

h3.faq
{
  color: #E56227;
}

.spacer{
  height:100px;
  width:100%;
}
h2{
  color:#E56227;
  font-size: 35px;
}

p{
  color: #003559;
}
.spacer1{
  font-size: 0;
   height: 50px;
   line-height: 0;
}
.left{
text-align:left;
align:left;
}
.right{
text-align:right;
align:right;

}
.img-container {
  float: left;
  width: 33.33%;
padding: ;
}
b {
  font-weight: bolder;
}
.news-icon{
  width: 100px;
}
.p-news{
  line-height: 1.7;
  text-indent: 50px;
}
.hide{
  display: none;
}
.bold {
  font-size: 20px;
}
img.event {
  display: block;
  margin-left: auto;
  margin-right:auto;
  max-width: 200px;
  height:auto;
}
.bg-FEBC18 {
  background-color: #FEBC18;
}
h3.index {
  color: #003559;
}
b {
  color: #003559;
}
.text-indent-50 {
   text-indent: 50px;
}
.text-indent-20 {
  text-indent: 20px;
}
ul.points {
  list-style-type: auto;
  color: #003559;
}
.003559 {
  color: 003559:
}
.round {
  border-radius: 10px;
}
.img-left {
  float: left;
  max-width: 180px;
  height: 100px;
}
.img-right {
 float: right;
  max-width: 180px;
  height: 100px;
}
.shootingstar {
  display: block;
  margin-left:auto;
  margin-right:auto;
  max-width:160px;
  padding-top:25px;
  transform: rotate(-40deg);
}
